{% extends 'base2.html.twig' %}

{% block title %}Update{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header"></div>
    <div class="card-body">
        <div class="card-title">
            <h3 class="text-center title-2 text-uppercase text-primary font-weight-bold">Update Todo Task</h3>
        </div>
        <hr>
        <form  action="{{path('submitUpdateTodo', { 'id' : item.id })}}" method="POST" id="updateForm">
            <div class="form-group has-success">
                <label for="cc-name" class="control-label mb-1 font-weight-bold">Name</label>
                <input type="text" class="form-control" value="{{item.name}}" placeholder="Enter Name" id="name_update"
                    name="name_update" required>
            </div>
            <div class="form-group">
                <label for="des_update" class="control-label mb-1 font-weight-bold">Description</label>
                <input type="text" class="form-control" value="{{item.description}}" placeholder="Enter Description"
                    id="des_update" name="des_update" maxlength="100" required> 
            </div>
            <div class="float-right">
                <a class="btn btn-danger m-auto" href="/home">
                    <i class="fa-solid fa-x"></i>&nbsp;
                    <span id="">Cancel</span>
                </a>
                <button id="submit-button" type="submit" class="btn btn-success m-auto">
                    <i class="fa-solid fa-check"></i>&nbsp;
                    <span id="">Submit</span>
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    document.getElementById('updateForm').onsubmit = function(){
            Swal.fire({
            position: "top-right",
            icon: "success",
            title: "Your task has been updated",
            showConfirmButton: false,
            timer: 3000
        });
    }
</script>
{% endblock %}